body.admin_dashboard {

  p.title {
    font-size: 17px;
  }

  .columns {
    margin-bottom: 30px;
  }

  .proplist {
    .panel_contents {
      margin-right: -15px;
    }
  }

  table.index_table {
    a {
      text-decoration: none !important;
      color: #323537 !important;
      &:hover {
        text-decoration: underline !important;
        color: #124068 !important;
      }
    }
  }

}