div.prop_in_list {
  float: left;
  width: calc(25% - 15px);
  height: 214px;
  margin-right: 15px;
  margin-bottom: 15px;
  border: 2px solid #ededed;
  border-radius: 3px;

  > a {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 35px;
    text-align: center;         /*!*/
    white-space: nowrap;        /*!*/

    span {
      display: inline-block;      /*!*/
      vertical-align: middle;     /*!*/
      height: 100%;               /*!*/
    }

    img {
      max-width: 100%;
      vertical-align: middle;     /*!*/
    }

  }

  .text_content {
    margin-top: 45px;
    padding: 0 7px;
    text-align: center;

    h4 {
      > a {
        font-weight: bold;
        color: #288feb;
        text-decoration: none;
        font-size: 15px;
        &:hover { color: #1c62a1; }
        &:active { color: #18558c; }
        &:focus { color: #164f82; }
      }
    }

  }

}