<%
   item_title = @item.title
%>

<h4 class="bold">Общая информация</h4>

<div class="clearfix">
  <div id="div_main_show_area" class="clearfix">
    <%= link_to image_tag('w227x182px.gif',
                          :alt=>item_title,
                          :data => {:original => image_path(@item.main_image_url)},
                          :class => 'lazy'),
                image_path(@item.main_image_url),
                :title => item_title,
                :class => 'lazy-image-wrapper no-outline' %>
    <div id="main_props">
      <%= smiph_render_property_props(@item) %>

      <div id="div_vendor_logo">
        <%# smiph_render_vendor_logo(@item) %>
      </div>

    </div>
  </div>
</div>

<div id="div_desc">
  <%= @item.desc.html_safe if @item.desc.present? %>
</div>

<div id="div_common_props" class="clearfix">
  <h4 class="bold">Техническая информация</h4>
  <%= ph_render_tech_props(@item) %>
</div>

<div id="related_items" class="hidden">
  <%# smiph_render_related_items(@item) %>
</div>