body.admin_pstats {

  &.index {

    div#main_content {
      opacity: 0;

      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;

    }

    .batch_actions_selector {
      display: none;
    }

    .action_items {
      display: none;
    }

    a.delete_link {
      display: none;
    }

    .col-actions {
      text-align: right;
      width: 99px !important;
    }

    a.edit_link {
      display: none;
    }

    h2#page_title {
      opacity: 0;

      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;
    }

    div.blank_slate_container {
      display: none !important;
    }

    #collection_selection {
      display: none !important;
    }

  }

}