body.admin_sevents {

  &.index {

    div#main_content {
      opacity: 0;

      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;      

      div#index_adds {
        height: calc(183px + 15px);
        min-height: calc(183px + 15px);
        margin-bottom: 0;

        > div {
          float: left;
          padding: 10px;
          border-radius: 2px;
          border: 2px solid #f1f1f1;
          height: 183px;

          &#ecoef {
            width: 200px;
            text-align: center;

            p {
              width: 100%;

              &.val {
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 40px;
              }

            }
          }

          &#text_stats {
            width: 400px;
            margin-left: 30px;

            ul {
              padding: 0 5px;
              list-style: none;
              #title {
                font-weight: bold;
              }
            }

          }

          &#graph {
            width: calc(100% - 200px - 400px - 30px);
            background-color: #dedede;
            display: none;
          }

        }
      }

    }

    .batch_actions_selector {
      display: none;
    }

    a.delete_link {
      display: none;
    }

    .col-actions {
      text-align: right;
    }

    a.edit_link {
      display: none;
    }
  }

}