body.admin_areas {
  &.edit, &.new {

    select {
      /*padding: 3px 10px 5px 10px;*/
    }

    input {
      /*font-size: 12px;*/
    }

    // в этом контейнере живут fieldset-ы, каждый из которых соответствует одному свойству предмета
    li.item_props {
      padding-top: 0;

      // прячем h3
      h3 {
        display: none;
      }
      // прячем сразу кнопку "Добавить Item prop"
      a.has_many_add {
        display: none;
      }
      // прячем кнопку "убрать свойство"
      a.has_many_remove {
        display: none;
      }

      // приводим в табличный вид внешний вид
      fieldset {
        margin: 0;
        @include shdw(0.0);
        border: none;
        border-radius: 0;

        // прячем лейблы
        label {
          display: none;
        }

        li.select, li.input {
          float: left;
          padding: 3px;
        }

        select {
          text-align: right;
          float: left;
          &:disabled {
            color: #4C4C4C;
          }
        }
        input {
          float: left;
          width: 400px;
        }
      }

    }

    form fieldset > ol > li.boolean {
      height: auto;
      &#item_is_main_input {
        padding-bottom: 20px;
        padding-top: 0;
      }
      &#item_is_sale_input {
        padding-bottom: 0;
      }
      label {
        font-weight: bold;
        color: #5E6469;
      }
    }

    p.inline-hints {
      color: #74b1b2;
      padding-left: 50px;
    }

    // спрячем артефакт
    li#area_galleries_input {
      fieldset.choices {
        legend.label {
          display: none;
        }
      }
    }

    li.has_many_container {
      width: 80%;
      float: right;
      padding: 0;

      &.aphotos {
        fieldset.has_many_fields {
          background-color: transparent;
          box-shadow: none;
          border: 1px solid #dddddd;
        }
        h3 {
          display: none;
        }

      }

    }

    .fieldset_item_props {
      background-color: white !important;
      box-shadow: none !important;

      legend {
        display: none !important;
      }

      fieldset.has_many_fields {
        background-color: transparent !important;
        box-shadow: none !important;
      }

      ol.v_1, ol.v_9, ol.v_14 {
        li.input.optional {
          input {
            background-color: rgba(255, 200, 127, 0.26) !important;
          }
        }
      }

    }

  }

  .slider.slider-horizontal {
    width: 227px !important;
  }

  .slider.slider-horizontal .slider-handle {
    margin-top: 0 !important;
  }

  .slider.slider-horizontal .slider-tick {
    margin-top: 0 !important;
  }

  &.index {

    .min_text_input {
      margin: 10px 0;
      width: 45% !important;
      padding-left: 15px;
    }

    .max_text_input {
      margin: 10px 0 0 10% !important;
      width: 45% !important;
    }

    a.delete_link {
      /*display: none;*/
    }

    .blank_slate_container {
      display: none !important;
    }

    ul.scopes {
      opacity: 0;

      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;

    }

    span.locked {
      font-weight: bold;
    }

  }

  &.show {

    #title_bar .action_items {
      opacity: 0;

      span.action_item > a {
        &.has_many_remove {
          border: 1px solid #ED4F32 !important;
          margin-left: 10px;
          &:hover {
            background-color: #ED4F32 !important;
            color: white !important;
          }
        }
      }
    }

    div#main_content {
      opacity: 0;

      -webkit-transition: opacity .2s ease-in;
      -moz-transition: opacity .2s ease-in;
      -ms-transition: opacity .2s ease-in;
      -o-transition: opacity .2s ease-in;
      transition: opacity .2s ease-in;

      .astatus_span {
        font-size: 20px;
        font-weight: bold;
        margin-right: 0;

        .pvalue {
          font-weight: 600 !important;
        }

        &.free {
          margin-left: 58px;

          .pvalue {
            color: #00b729 !important;
          }
        }

        &.busy {
          margin-left: 78px;

          .pvalue {
            color: #b72600 !important;
          }
        }

      }

    }

  }

}
