<div class="prop_in_list">
  <a href="/admin/areas?utf8=✓&q%5Bproperty_id_eq%5D=<%= prop.id %>&commit=Фильтровать&order=id_asc">
    <span></span><img src="<%= image_path(prop.logo_path) %>">
  </a>
  <div class="text_content">
    <h4><%= link_to prop.title, "/admin/areas?utf8=✓&q%5Bproperty_id_eq%5D=#{prop.id}&commit=Фильтровать&order=id_asc" %></h4>
  </div>
</div>