<table border="0" cellspacing="0" cellpadding="0" id="table_properties_coef_busy" class="index_table index sortable" paginator="true">
  <thead>
  <tr>
    <th class="col col-prop">Объект</th>
    <th class="col col-coef">Занятость</th>
    <th class="col col-all">Площадей</th>
    <th class="col col-free">Свободно</th>
    <th class="col col-busy">Занято</th>
  </tr>
  </thead>
  <tbody>

  <% list.each do |prop| %>
      <%# Rails.logger.debug "#{obj}" %>
      <tr>
        <td><%= "<a href='/admin/properties/#{prop[:id]}'>#{prop[:title]}</a>".html_safe %></td>
        <td><%= prop[:busy_coef] %></td>

        <% if prop[:props].present? %>
            <% prop[:props].each_key do |key| %>
                <td><%= prop[:props][key] %></td>
            <% end %>
        <% end %>

      </tr>
  <% end %>

  </tbody>
</table>