div#div_button_order {
  /*background-color: rgba(0, 255, 0, 0.08);*/
  float: left;
  width: 139px;
  min-height: 61px;
  border-right: 1px solid #cacaca;
  padding-top: 10px; /*выравниваем по нижнему краю мелких картинок возможной галереи, той, что справа*/
}